<p id="notice"><%= notice %></p>

<h1>Listing Feedback Requests</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Manager email</th>
      <th>Feedback ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @feedback_requests.each do |feedback_request| %>
      <tr>
        <td><%= feedback_request.name %></td>
        <td><%= feedback_request.email %></td>
        <td><%= feedback_request.manager_email %></td>
        <td><%= feedback_request.feedback_id %></td>
        <td><%= link_to 'Show', feedback_request %></td>
        <td><%= link_to 'Edit', edit_feedback_request_path(feedback_request) %></td>
        <td><%= link_to 'Destroy', feedback_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Feedback request', new_feedback_request_path %>
