<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @feedback_request.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @feedback_request.email %>
</p>

<p>
  <strong>Manager email:</strong>
  <%= @feedback_request.manager_email %>
</p>

<p>
  <strong>Feedback ID:</strong>
  <%= @feedback_request.feedback_id %>
</p>

<%= link_to 'Edit', edit_feedback_request_path(@feedback_request) %> |
<%= link_to 'Back', feedback_requests_path %>
